$blockquote: 'blockquote';
$button: 'button';
$checkradio: 'checkradio';
$cite: 'cite';
$code: 'code';
$color-picker: 'color-picker';
$del: 'del';
$details: 'details';
$dialog: 'dialog';
$document: 'document';
$field: 'field';
$form: 'form';
$heading: 'heading';
$hr: 'hr';
$icon-switch: 'icon-switch';
$ins: 'ins';
$kbd: 'kdb';
$link: 'link';
$mark: 'mark';
$meter: 'meter';
$progress: 'progress';
$range: 'range';
$scroll: 'scroll';
$select: 'select';
$small: 'small';
$table: 'table';
