@mixin meter-progress {
  overflow: hidden;
  border-radius: _var($meter, 'border-radius');
  background: _var($meter, 'background');
  box-shadow: inset 0 0 0 1px _var($meter, 'border-color');
}

@mixin meter-strong {
  background: _var($meter, 'filled-color-strong');
}

@mixin meter-good {
  background: _var($meter, 'filled-color-good');
}

@mixin meter-weak {
  background: _var($meter, 'filled-color-weak');
}
