$progress-height: _config-var($progress, 'height');
$progress-border-width: _config-var($progress, 'border-width');

@mixin progress-indeterminate {
  content: '';
  display: block;
  height: unquote('calc(#{$progress-height} - #{$progress-border-width} * 2)');
  border-radius: _config-var($progress, 'border-radius');
  position: absolute;
  top: 0;
  left: 0;
  background: _config-var($progress, 'filled-color');
  animation: moving-indeterminate 1s ease-in-out infinite;
}

@keyframes moving-indeterminate {
  from {
    width: 0;
    margin-right: 100%;
    margin-left: 0;
  }

  50% {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  to {
    width: 0;
    margin-right: 0;
    margin-left: 100%;
  }
}
