@import './config';
@import './mixins';

progress {
  display: block;
  overflow: hidden;
  width: 100%;
  height: _config-var($progress, 'height');
  border-width: _config-var($progress, 'border-size');
  border-color: _config-var($progress, 'border-color');
  border-style: solid;
  border-radius: _config-var($progress, 'border-radius');
  position: relative;
  background: _config-var($progress, 'background');
  box-shadow: _config-var($progress, 'shadow');
  appearance: none;

  &::-webkit-progress-bar {
    border-radius: _config-var($progress, 'border-radius');
    background: _config-var($progress, 'background');
  }

  &::-webkit-progress-value {
    border-radius: _config-var($progress, 'border-radius');
    background: _config-var($progress, 'filled-color');
    transition: width 200ms ease-out;
  }

  &::-moz-progress-bar {
    border-radius: _config-var($progress, 'border-radius');
    background: _config-var($progress, 'filled-color');
  }

  &:indeterminate {
    &::after {
      @include progress-indeterminate;
    }

    /* Safari only override */
    &::-webkit-progress-bar {
      &::after {
        @include progress-indeterminate;
      }
    }

    &::-moz-progress-bar {
      @include progress-indeterminate;
    }
  }
}
