$colors: (
  accent: #0e58fb,
  base: #1d2b3b,
  dark: #1d2b3b,
  light: #fbfcfd,
  ok: #13a699,
  ko: #ff2f6c,
  warn: #ffbe33
);

// Internal variables
$white: #fff;
$black: #000;
$border-radius: 8px;
