$table-props: (
  head-separator: 2px solid _tint(_color('base'), 80%),
  row-separator: 1px solid _tint(_color('base'), 80%),
  cells-ypadding: 16px,
  cells-xpadding: 16px,
  background: transparent,
  striped-background: transparent
);
