$icon-switch-shadow: _shadow('bottom', $color: $light-shadow-color);
$icon-switch-active-shadow: _shadow(
  'bottom',
  $color: $light-shadow-color,
  $size: 4
);

$icon-switch-props: (
  size: 1rem,
  padding: calc(0.375 * 0.8rem),
  border-radius: 50%,
  border: none,
  hover-border-color: transparent,
  active-border-color: transparent,
  disabled-border-color: transparent,
  background: _color('light'),
  hover-background: _color('accent'),
  active-background: _color('accent'),
  disabled-background: _color('light'),
  shadow: $icon-switch-shadow,
  active-shadow: $icon-switch-active-shadow,
  before: svg-load('assets/power.svg', fill=#{_color('ok')}),
  after: svg-load('assets/power.svg', fill=#{_color('ko')})
);
