$icon-switch-shadow: _shadow(
  'bottom',
  $size: 10,
  $color: _tint(_color('base'), 16%)
);

$icon-switch-active-shadow: _shadow(
  'bottom',
  $size: 8,
  $color: _tint(_color('base'), 16%)
);

$icon-switch-props: (
  size: 1.25rem,
  padding: calc(0.375 * 0.8rem),
  border-radius: 50%,
  border: none,
  hover-border-color: transparent,
  active-border-color: transparent,
  disabled-border-color: transparent,
  background: _color('light'),
  hover-background: _color('light'),
  active-background: _color('light'),
  disabled-background: _color('light'),
  shadow: $icon-switch-shadow,
  active-shadow: $icon-switch-active-shadow,
  before: svg-load('assets/power.svg', fill=#{_color('ok')}),
  after: svg-load('assets/power.svg', fill=#{_color('ko')})
);
