@import './config';
@import './mixins';

.icon-switch {
  display: inline-flex;
  overflow: hidden;
  width: calc(#{_var($icon-switch, 'size')} * 2);
  height: calc(#{_var($icon-switch, 'size')} * 2);
  border: _var($icon-switch, 'border');
  border-radius: _var($icon-switch, 'border-radius');
  padding: _var($icon-switch, 'padding');
  position: relative;
  align-items: center;
  justify-content: center;
  background: _var($icon-switch, 'background');
  box-shadow: _var($icon-switch, 'shadow');
  line-height: inherit;
  transition: border-color 0.1s ease-out, background-color 0.1s ease-out,
    box-shadow 0.1s ease-out;

  &:hover {
    border-color: _var($icon-switch, 'hover-border-color');
    background: _var($icon-switch, 'hover-background');
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: _var($icon-switch, 'disabled-border-color');
    opacity: 0.5;
    background: _var($icon-switch, 'disabled-background');
    box-shadow: none;
    cursor: not-allowed;
  }

  &:not(:disabled):not([aria-disabled='true']):active {
    border-color: _var($icon-switch, 'active-border-color');
    background: _var($icon-switch, 'active-background');
    box-shadow: _var($icon-switch, 'active-shadow');
  }

  &::before,
  &::after {
    @include icon;
  }

  &::before {
    transform: translateY(0%);
    opacity: 1;
    background-image: _var($icon-switch, 'before');
  }

  &::after {
    transform: translateY(100%);
    opacity: 0;
    background-image: _var($icon-switch, 'after');
  }

  &.icon-switch-after {
    &::before {
      transform: translateY(-100%);
      opacity: 0;
    }

    &::after {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
