$checkradio-props: (
  size: 20px,
  border: none,
  border-radius: $border-radius / 2,
  color: _radial-gradient(),
  background: _shade(_color('light'), 24%),
  shadow: _shadow('all', $size: 4, $color: rgba(_color('accent'), 0.72)),
  tick-color: $white
);
