$checkradio: 'checkradio';

$checkradio-props: (
  size: 20px,
  border: 1px solid rgba(_colors(white), 0.15),
  border-radius: 4px,
  color: _neu-background('pressed'),
  background: _neu-background('pressed'),
  shadow: _neu-shadow('pressed', $size: 2),
  tick-color: _colors(accent),
  disabled-tick-color: _colors(dark)
);
