$table-props: (
  head-separator: 2px solid _color('light-high'),
  row-separator: 1px solid _color('light-high'),
  cells-ypadding: 16px,
  cells-xpadding: 16px,
  background: transparent,
  striped-background: transparent
);
