@import './config';

table {
  width: 100%;
  border-collapse: collapse;
  background-color: _config-var($table, 'background');
}

thead {
  border-bottom: _config-var($table, 'head-separator');
  text-align: left;
}

td,
th {
  padding: _config-var($table, 'cells-ypadding')
    _config-var($table, 'cells-xpadding');
}

tr + tr {
  border-top: _config-var($table, 'row-separator');
}

table.striped tr:nth-child(even) {
  background-color: _config-var($table, 'striped-background');
}

html[data-color-scheme='dark'] {
  @each $prop, $val in $dark-overrides {
    #{_define-var($table, $prop)}: $val;
  }
}
