@import './config';

kbd {
  border: 1px solid _config-var($kbd, 'border-color');
  border-radius: _config-var($kbd, 'border-radius');
  padding: 2px 6px;
  box-shadow: 0 3px 0 _config-var($kbd, 'border-color'),
    0 3px 10px rgba(0, 0, 0, 0.04);
}

html[data-color-scheme='dark'] {
  @each $prop, $val in $dark-overrides {
    #{_define-var($kbd, $prop)}: $val;
  }
}
