$properties: (
  width: 100%,
  height: 2px,
  border-width: 0,
  border-color: transparent,
  border-radius: 10px,
  background: _color('light-high'),
  focus-background: _shade(_color('light-high'), 4%),
  disabled-background: _color('light-high'),
  shadow: _shadow('all', $size: 8, $color: #fff),
  thumb-width: 24px,
  thumb-height: 24px,
  thumb-radius: 50%,
  thumb-sripes-color: rgba(#fff, 0.15),
  thumb-sripes-active-color: rgba(#fff, 0.25),
  thumb-background: _gradient('accent'),
  thumb-active-background: _color('accent-low'),
  thumb-disabled-background: _gradient('light'),
  thumb-shadow:
    _shadow('all', $size: 8, $color: rgba(_color('accent-low'), 0.72)),
  thumb-active-shadow:
    _shadow('all', $size: 4, $color: rgba(_color('accent-low'), 0.72)),
  outline-width: _var('outline', 'width'),
  outline-color: _var('outline', 'color')
);

$dark-overrides: (
  background: _shade(_color('base-low'), 16%),
  focus-background: _shade(_color('base-low'), 8%),
  disabled-background: _shade(_color('base-low'), 16%),
  shadow: _shadow('inset-top-bottom', $size: 8, $color: _color('base-low')),
  thumb-disabled-background: _color('base-low')
);
