$thumb-height: _var($range, 'thumb-height');

@mixin track {
  width: 100%;
  height: _var($range, 'height');
  border: _var($range, 'border');
  border-radius: _var($range, 'border-radius');
  background: _var($range, 'background');
  box-shadow: _var($range, 'shadow');
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

@mixin disabled-track {
  background-color: _var($range, 'disabled-background');
  box-shadow: none;
  cursor: not-allowed;
}

@mixin thumb {
  width: _var($range, 'thumb-width');
  height: $thumb-height;
  border-color: transparent;
  border-radius: _var($range, 'thumb-radius');
  background: _var($range, 'thumb-background');
  box-shadow: _var($range, 'thumb-shadow');
  transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out;
  appearance: none;

  &:hover {
    cursor: grab;
  }

  &:active,
  &:focus {
    background: _var($range, 'thumb-active-background');
    box-shadow: _var($range, 'thumb-active-shadow');
    cursor: grabbing;
  }
}

@mixin disabled-thumb {
  background-color: _var($range, 'thumb-disabled-background');
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
}

@mixin focus-thumb {
  background: _var($range, 'thumb-active-background');
  outline: _var($outline, 'style') _var($outline, 'color');
}
