@import './config';

/**
 * 1.250 - Major Third Scale
 * https://type-scale.com/
 */
$scale: 1.25;
$font-size: _config-var($heading, 'font-size');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.05rem;
  font-family: _config-var($heading, 'font-family');
  font-weight: _config-var($heading, 'font-weight');
  line-height: _config-var($heading, 'line-height');
}

h1 {
  font-size: unquote('calc(#{$font-size} * #{pow($scale, 5)})');
}

h2 {
  font-size: unquote('calc(#{$font-size} * #{pow($scale, 4)})');
}

h3 {
  font-size: unquote('calc(#{$font-size} * #{pow($scale, 3)})');
}

h4 {
  font-size: unquote('calc(#{$font-size} * #{pow($scale, 2)})');
}

h5 {
  font-size: unquote('calc(#{$font-size} * #{pow($scale, 1)})');
}

h6 {
  font-size: $font-size;
}
