$focus-shadow: _shadow(
    'inset-left-right',
    $size: 8,
    $color: rgba(_color('accent'), 0.16)
  ),
  _shadow('bottom', $size: 8, $color: rgba(_color('accent'), 0.16));

$select-props: (
  width: 100%,
  min-height: 48px,
  ypadding: 0.5em,
  xpadding: 1em,
  border-radius: $border-radius,
  border: 1px solid _tint(_color('base'), 80%),
  hover-border-color: _tint(_color('base'), 72%),
  focus-border-color: _color('accent'),
  disabled-border-color: _tint(_color('base'), 72%),
  foreground: _color('dark'),
  hover-foreground: _color('dark'),
  focus-foreground: _color('dark'),
  disabled-foreground: _tint(_color('dark'), 64%),
  background: _tint(_color('light'), 100%),
  hover-background: _tint(_color('light'), 100%),
  focus-background: _tint(_color('light'), 100%),
  disabled-background: _tint(_color('base'), 88%),
  shadow: none,
  hover-shadow: none,
  focus-shadow: $focus-shadow,
  icon-size: 1rem,
  icon: svg-load('assets/select.svg', fill=#{_tint(_color('base'), 32%)}),
  option-checked-foreground: _color('light'),
  option-checked-background: _color('accent')
);
