$colors: (
  accent: #0084ff,
  base: #5a5c6a,
  dark: #202d3a,
  light: #fafafa,
  ok: #13a699,
  ko: #ff2f6c,
  warn: #ffbe33
);

// Internal variables
$white: #fff;
$black: #000;
$border-radius: 8px;
$light-shadow-color: _shade(_color('light'), 40%);
$dark-shadow-color: _shade(_color('dark'), 80%);
