$shadow: _shadow('all', $size: 4, $color: _color('light-high')),
  _shadow('bottom', $size: 8, $color: _color('light-high'));

$properties: (
  max-height: 280px,
  border-radius: _var('global', 'border-radius'),
  background: _color('light-low'),
  shadow: $shadow,
  summary-padding: 16px,
  summary-font-size: initial,
  summary-font-weight: 500,
  summary-open-color: _color('accent-high'),
  summary-background: _color('light-low'),
  separator: none,
  icon-size: 1rem,
  icon: svg-load('assets/details.svg', fill=#{_tint(_color('base-low'), 32%)})
);
