$details-shadow: _shadow('all', $size: 4, $color: _tint(_color('base'), 72%)),
  _shadow('bottom', $size: 8, $color: _tint(_color('base'), 72%));

$details-props: (
  max-height: 280px,
  border-radius: $border-radius,
  background: _color('light'),
  shadow: $details-shadow,
  summary-padding: 16px,
  summary-font-size: initial,
  summary-font-weight: 500,
  summary-open-color: _color('accent'),
  summary-background: _color('light'),
  separator: none,
  icon-size: 1rem,
  icon: svg-load('assets/details.svg', fill=#{_tint(_color('base'), 32%)})
);
