@import './config';

hr {
  display: block;
  width: 100%;
  height: _config-var($hr, 'height');
  margin-top: _config-var($hr, 'margin');
  margin-bottom: _config-var($hr, 'margin');
  border: none;
  background-color: _config-var($hr, 'background');
}
