$meter-props: (
  width: 32px,
  height: 4px,
  border-radius: 4px,
  background: _shade(_color('light-low'), 8%),
  border-color: _shade(_color('light-low'), 8%),
  filled-color-strong: _color('ok'),
  filled-color-good: _color('warn'),
  filled-color-weak: _color('ko')
);
