$border-radius: _var('global', 'border-radius');

$properties: (
  size: 20px,
  border-width: 0,
  border-color: transparent,
  border-radius: unquote('calc(#{$border-radius} / 2)'),
  color: _gradient('accent'),
  background: _shade(_color('light-high'), 4%),
  shadow: _shadow('all', $size: 4, $color: rgba(_color('accent-low'), 0.72)),
  tick-color: _color('light-low')
);

$dark-overrides: (
  background: _gradient('base', 32%)
);
