@mixin check {
  width: _config-var($checkradio, 'size');
  height: _config-var($checkradio, 'size');
  border: _config-var($checkradio, 'border');
  border-radius: _config-var($checkradio, 'border-radius');
  position: relative;
  vertical-align: middle;
  background: _config-var($checkradio, 'background');
  cursor: pointer;
  appearance: none;

  &::before {
    content: '';
    width: 10px;
    height: 5px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-radius: 2px 0 2px 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1px)) rotate(-45deg);
    opacity: 0;
    pointer-events: none;
  }

  &:not(:disabled):active {
    border-color: _config-var($checkradio, 'color');
  }

  &:checked {
    border-color: _config-var($checkradio, 'color');
    color: _config-var($checkradio, 'tick-color');
    background: _config-var($checkradio, 'color');

    &::before {
      opacity: 1;
    }

    &:not(:disabled) {
      box-shadow: _config-var($checkradio, 'shadow');
    }
  }

  &:disabled {
    opacity: 0.5;
    color: _config-var($checkradio, 'tick-color');
    pointer-events: none;
    cursor: not-allowed;
  }

  &:indeterminate {
    border-color: _config-var($checkradio, 'color');
    color: _config-var($checkradio, 'tick-color');

    &::before {
      width: 8px;
      height: 2px;
      transform: translate(-50%, calc(-50%));
      opacity: 1;
    }
  }
}
