$field: 'field';

@function _field-shadow($hex) {
  $inner: _shadow('inset-left-right', $size: 8, $color: $hex),
    _shadow('inset-top', $size: 4, $color: $hex);

  $outer: _shadow('all', $size: 4, $color: $hex),
    _shadow('bottom', $size: 16, $color: $hex);

  @return $inner, $outer;
}

$field-props: (
  width: 100%,
  min-height: 48px,
  xpadding: 1em,
  ypadding: 0.4em,
  resize: vertical,
  border: 1.5px solid _shade(_color('light'), 4%),
  border-radius: 8px,
  foreground: _color('base'),
  background: #fff,
  shadow: none,
  selection-foreground: #fff,
  selection-background: _color('accent'),
  placeholder-foreground: _tint(_color('base'), 32%),
  hover-border-color: _shade(_color('light'), 8%),
  hover-foreground: _color('base'),
  hover-background: #fff,
  hover-placeholder-foreground: _tint(_color('base'), 32%),
  hover-shadow: none,
  focus-border-color: _color('accent'),
  focus-foreground: _color('base'),
  focus-background: #fff,
  focus-placeholder-foreground: _tint(_color('base'), 62%),
  focus-shadow: _field-shadow(rgba(_color('accent'), 0.15)),
  disabled-border-color: _shade(_color('light'), 8%),
  disabled-foreground: _tint(_color('base'), 40%),
  disabled-background: _shade(_color('light'), 4%),
  disabled-placeholder-foreground: _tint(_color('base'), 56%),
  readonly-border-color: _shade(_color('light'), 16%),
  readonly-focus-border-color: _color('accent'),
  readonly-foreground: _color('base'),
  invalid-border-color: _color('error'),
  invalid-background: #fff,
  invalid-foreground: _color('base'),
  invalid-shadow: _field-shadow(rgba(_color('error'), 0.15))
);
