$field: 'field';

$field-props: (
  width: 100%,
  min-height: 48px,
  xpadding: 1em,
  ypadding: 0.5em,
  resize: vertical,
  border: 2px solid _shade(_color('light'), 8%),
  border-radius: 8px,
  placeholder-foreground: _tint(_color('base'), 32%),
  foreground: _color('base'),
  background: #fff,
  shadow: none,
  selection-foreground: #fff,
  selection-background: _color('accent'),
  hover-border-color: _shade(_color('light'), 16%),
  hover-placeholder-foreground: _tint(_color('base'), 32%),
  hover-foreground: _color('base'),
  hover-background: #fff,
  hover-shadow: none,
  focus-border-color: _color('accent'),
  focus-placeholder-foreground: _tint(_color('base'), 62%),
  focus-foreground: _color('base'),
  focus-background: #fff,
  focus-shadow: _field-shadow(rgba(_color('accent'), 0.16)),
  disabled-border-color: _shade(_color('light'), 8%),
  disabled-placeholder-foreground: _tint(_color('base'), 56%),
  disabled-foreground: _tint(_color('base'), 40%),
  disabled-background: _shade(_color('light'), 4%),
  readonly-border-color: _shade(_color('light'), 16%),
  readonly-focus-border-color: _color('accent'),
  readonly-foreground: _color('base'),
  invalid-border-color: _color('error'),
  invalid-foreground: _color('base'),
  invalid-background: #fff,
  invalid-shadow: _field-shadow(rgba(_color('error'), 0.15))
);
