$field: 'field';

$field-props: (
  width: 100%,
  min-height: 48px,
  xpadding: 1em,
  ypadding: 0.4em,
  resize: vertical,
  border: 1px solid var(--color-gray),
  border-radius: 4px,
  foreground: var(--color-dark),
  background: var(--color-white),
  selection-foreground: var(--color-dark),
  selection-background: var(--color-gray),
  placeholder-foreground: var(--color-gray),
  hover-border: 1px solid var(--color-gray),
  hover-foreground: var(--color-black),
  hover-background: var(--color-white),
  hover-placeholder-foreground: hsl(208, 28%, 56%),
  focus-border: 1px solid var(--color-gray),
  focus-foreground: var(--color-dark),
  focus-background: var(--color-white),
  focus-placeholder-foreground: hsl(208, 28%, 56%),
  disable-border: 1px solid var(--color-gray),
  disable-foreground: hsl(208, 28%, 36%),
  disable-background: var(--color-gray),
  disable-placeholder-foreground: hsl(208, 28%, 56%),
  readonly-border: 1px dashed var(--color-gray),
  readonly-focus-border: 1px dashed var(--color-accent),
  readonly-foreground: var(--color-dark),
  invalid-border-color: hsl(354, 100%, 65%),
  invalid-background: var(--color-white),
  invalid-foreground: var(--color-dark)
);
