@import './blockquote-config';
@import './cite-config';
@import './code-config';
@import './del-config';
@import './ins-config';
@import './kbd-config';
@import './mark-config';
@import './small-config';

$document-line-height: _var($document, 'line-height');

address {
  font-style: normal;
  line-height: inherit;
}

blockquote {
  margin: 2.5em 0;
  padding: 0;
  font-family: _var($blockquote, 'font-family');
  font-size: _var($blockquote, 'font-size');
  line-height: unquote('calc(#{$document-line-height} / 1.2)');
  letter-spacing: 0.03em;

  > * {
    font-size: inherit;
  }

  cite {
    display: block;
    margin-top: _var($cite, 'font-size');
    color: _var($cite, 'foreground');
    font-size: _var($cite, 'font-size');

    &::before {
      content: _var($cite, 'start-sign');
      margin-right: 4px;
    }
  }
}

del {
  padding: 2px 4px;
  color: _var($del, 'foreground');
  background-color: _var($del, 'background');
  box-shadow: 0 0 0 2px _var($del, 'background');
}

ins {
  padding: 2px 4px;
  color: _var($ins, 'foreground');
  background-color: _var($ins, 'background');
  box-shadow: 0 0 0 2px _var($ins, 'background');
  text-decoration: none;
}

kbd {
  border: 1px solid _var($kbd, 'border-color');
  border-radius: _var($kbd, 'border-radius');
  padding: 2px 6px;
  box-shadow: 0 3px 0 _var($kbd, 'border-color'), 0 3px 10px rgba(0, 0, 0, 0.04);
}

mark {
  color: _var($mark, 'foreground');
  background: _var($mark, 'background');
  box-shadow: 0 0 0 2px _var($mark, 'background');
}

p {
  margin-bottom: 1.15rem;

  code {
    display: inline-block;
    margin: 2px 0;
    border-radius: _var($code, 'border-radius');
    padding: 0 4px;
    background-color: _var($code, 'background');
  }
}

small {
  font-size: _var($small, 'font-size');
}
