@import './abstracts/theme';
@import './utils/functions';
@import './components/namespaces';

$color-picker-shadow: _shadow(
  'bottom',
  $size: 10,
  $color: _shade(_color('base-high'), 40%)
);

$dialog-shadow: _shadow(
  'bottom',
  $size: 24,
  $color: _shade(_color('base-high'), 40%)
);

$progress-shadow: _shadow(
  'inset-top-bottom',
  $size: 24,
  $color: _tint(_color('base-high'), 8%)
);

$dark-overrides: (
  $checkradio: (
    background: _color('base-low')
  ),
  $color-picker: (
    shadow: $color-picker-shadow
  ),
  $details: (
    background: _color('base-high'),
    summary-background: _color('base-high'),
    shadow: none
  ),
  $dialog: (
    background: _tint(_color('base-high'), 8%),
    shadow: $dialog-shadow
  ),
  $document: (
    foreground: _color('light-low'),
    background: _color('base-high')
  ),
  $code: (
    background: _tint(_color('base-high'), 16%)
  ),
  $hr: (
    background: _shade(_color('base-low'), 16%)
  ),
  $kbd: (
    border-color: _tint(_color('base-high'), 16%)
  ),
  $progress: (
    border-color: _tint(_color('base-high'), 4%),
    shadow: $progress-shadow
  ),
  $table: (
    head-separator: 2px solid _shade(_color('base-low'), 16%),
    row-separator: 1px solid _shade(_color('base-low'), 16%)
  ),
  $field: (
    border: 1px solid _color('base-low'),
    hover-border-color: _tint(_color('base-low'), 8%),
    focus-border-color: _color('accent-high'),
    disabled-border-color: _shade(_color('base-low'), 16%),
    invalid-border-color: _color('ko'),
    foreground: _color('light-high'),
    disabled-foreground: _tint(_color('base-low'), 16%),
    invalid-foreground: _color('light-high'),
    placeholder-foreground: _tint(_color('base-low'), 32%),
    hover-placeholder-foreground: _tint(_color('base-low'), 32%),
    focus-placeholder-foreground: _tint(_color('base-low'), 16%),
    disabled-placeholder-foreground: _color('base-low'),
    background: _tint(_color('base-high'), 8%),
    hover-background: _tint(_color('base-high'), 8%),
    focus-background: _tint(_color('base-high'), 16%),
    disabled-background: _color('base-high'),
    invalid-background: _tint(_color('base-high'), 8%)
  ),
  $range: (
    background: _shade(_color('base-low'), 16%),
    focus-background: _shade(_color('base-low'), 8%),
    disabled-background: _shade(_color('base-low'), 16%),
    shadow: _shadow('inset-top-bottom', $size: 8, $color: _color('base-low')),
    thumb-disabled-background: _color('base-low')
  ),
  $select: (
    border: 1px solid _color('base-low'),
    hover-border-color: _tint(_color('base-low'), 8%),
    focus-border-color: _color('accent-high'),
    disabled-border-color: _shade(_color('base-low'), 16%),
    foreground: _color('light-low'),
    disabled-foreground: _tint(_color('base-low'), 16%),
    background: _tint(_color('base-high'), 8%),
    hover-background: _tint(_color('base-high'), 8%),
    focus-background: _tint(_color('base-high'), 16%),
    disabled-background: _color('base-high')
  )
);

// Generate the CSS Custom Properties
html[data-color-scheme='dark'] {
  @each $element, $props in $dark-overrides {
    @each $prop, $val in $props {
      #{_define-var($element, $prop)}: $val;
    }
  }
}

// Use `icon-switch` component as color scheme trigger
.icon-switch[data-ck-trigger='set-color-scheme'] {
  --ck-icon-switch-before: svg-load(
    'assets/sun.svg',
    fill=#{_color('light-low')}
  );
  --ck-icon-switch-after: svg-load(
    'assets/moon.svg',
    fill=#{_color('light-low')}
  );
}

.icon-switch[data-ck-trigger='reset-color-scheme'] {
  --ck-icon-switch-before: svg-load(
    'assets/reset.svg',
    fill=#{_color('light-low')}
  );
}
