$properties: (
  ypadding: 1em,
  xpadding: 2em,
  border-width: 0,
  border-color: transparent,
  border-radius: _var('global', 'border-radius'),
  active-border-color: transparent,
  disabled-border-color: transparent,
  hover-border-color: transparent,
  font-weight: 700,
  foreground: _color('light-low'),
  background: _gradient('accent'),
  hover-background: _gradient('accent', 8%),
  active-background: _gradient('accent', 16%),
  disabled-background: _color('accent-high'),
  shadow: _shadow('bottom', $size: 8, $color: _color('accent-low')),
  active-shadow: _shadow('bottom', $size: 4, $color: _color('accent-low')),
  icon-margin: 0.8em,
  outline-width: _var('outline', 'width'),
  outline-color: _var('outline', 'color')
);
