@import './config';
@import './mixins';

button {
  @include button;

  &.rounded {
    #{_define-var('button', 'border-radius')}: 25px;
  }

  &.muted {
    #{_define-var('button', 'foreground')}: _color('base-high');
    #{_define-var('button', 'background')}: _gradient('light');
    #{_define-var('button', 'hover-background')}: _gradient('light', 8%);
    #{_define-var('button', 'active-background')}: _gradient('light', 16%);
    #{_define-var('button', 'disabled-background')}: _color('light-high');
    #{_define-var('button', 'shadow')}: _shadow(
      'bottom',
      $size: 8,
      $color: _color('light-high')
    );
    #{_define-var('button', 'active-shadow')}: _shadow(
      'bottom',
      $size: 4,
      $color: _color('light-high')
    );
  }
}
