$button-props: (
  ypadding: 1em,
  xpadding: 2em,
  border-radius: $border-radius,
  border: none,
  active-border-color: transparent,
  disabled-border-color: transparent,
  hover-border-color: transparent,
  font-weight: 700,
  foreground: _color('light'),
  background: _gradient('dark'),
  hover-background: _gradient('dark', $percentage: 4),
  active-background: _gradient('dark', $percentage: 8),
  disabled-background: _color('dark'),
  shadow: _shadow('bottom', $color: _color('base')),
  active-shadow: _shadow('bottom', $color: _color('base'), $size: 4),
  icon-margin: 0.8em
);
