$button-props: (
  ypadding: 1em,
  xpadding: 2em,
  border: none,
  border-radius: $border-radius,
  active-border-color: none,
  disabled-border-color: none,
  hover-border-color: none,
  font-weight: 700,
  foreground: $white,
  hover-foreground: $white,
  active-foreground: $white,
  disabled-foreground: $white,
  background: _radial-gradient(),
  hover-background: _radial-gradient(_tint(_color('accent'), 8%)),
  active-background: _radial-gradient(_tint(_color('accent'), 16%)),
  disabled-background: _color('accent'),
  shadow: _shadow('bottom'),
  hover-shadow: _shadow('bottom'),
  active-shadow: _shadow('bottom', $size: 4),
  disabled-shadow: none,
  icon-margin: 0.8em
);
