$button: 'button';
$checkradio: 'checkradio';
$color-picker: 'color-picker';
$details: 'details';
$dialog: 'dialog';
$document: 'document';
$outline: 'outline';
$scroll: 'scroll';
$selection: 'selection';
$field: 'field';
$form: 'form';
$heading: 'heading';
$hr: 'hr';
$link: 'link';
$meter: 'meter';
$select: 'select';
$table: 'table';
$blockquote: 'blockquote';
$cite: 'cite';
$code: 'code';
$del: 'del';
$ins: 'ins';
$kbd: 'kdb';
$mark: 'mark';
$small: 'small';
