$button: 'button';

$button-props: (
  xpadding: 2em,
  ypadding: 1em,
  border: none,
  border-radius: 8px,
  font-size: inherit,
  font-weight: 700,
  foreground: #fff,
  background: _radial-gradient(),
  shadow: _shadow('bottom'),
  active-foreground: #fff,
  active-background: _radial-gradient(_tint(_color('accent'), 16%)),
  active-border-color: none,
  active-shadow: _shadow('bottom', $size: 8),
  disabled-foreground: #fff,
  disabled-background: _color('accent'),
  disabled-border-color: none,
  disabled-shadow: none,
  hover-foreground: #fff,
  hover-background: _radial-gradient(_tint(_color('accent'), 8%)),
  hover-border-color: none,
  hover-shadow: _shadow('bottom'),
  icon-margin: 0.8em
);
