$button: 'button';

$button-props: (
  active-background: _neu-background('concave'),
  active-border-color: none,
  active-foreground: var(--color-accent),
  active-shadow: _neu-shadow('concave'),
  background: _neu-background('flat'),
  border-radius: 8px,
  border: none,
  disabled-background: _neu-background('pressed'),
  disabled-border-color: none,
  disabled-foreground: var(--color-dark),
  disabled-shadow: _neu-shadow('pressed'),
  font-size: inherit,
  font-weight: 700,
  foreground: var(--color-dark),
  hover-background: _neu-background('flat'),
  hover-border-color: none,
  hover-foreground: var(--color-accent),
  hover-shadow: _neu-shadow('flat'),
  icon-margin: 0.8em,
  shadow: _neu-shadow('flat'),
  xpadding: 2em,
  ypadding: 1em
);
