$button: 'button';

$button-props: (
  active-background: _radial-gradient(_tint(_color('accent'), 10%)),
  active-border-color: none,
  active-foreground: #fff,
  active-shadow: _shadow('bottom', $size: 8),
  background: _radial-gradient(),
  border-radius: 8px,
  border: none,
  disabled-background: _color('accent'),
  disabled-border-color: none,
  disabled-foreground: #fff,
  disabled-shadow: none,
  font-size: inherit,
  font-weight: 700,
  foreground: #fff,
  hover-background: _radial-gradient(_tint(_color('accent'), 5%)),
  hover-border-color: none,
  hover-foreground: #fff,
  hover-shadow: _shadow('bottom'),
  icon-margin: 0.8em,
  shadow: _shadow('bottom'),
  xpadding: 2em,
  ypadding: 1em
);
