$color-picker-shadow: _shadow(
  'bottom',
  $size: 10,
  $color: _tint(_color('base'), 16%)
);

$color-picker-props: (
  border: none,
  border-radius: 50%,
  shadow: $color-picker-shadow,
  focus-border: rgba(_color('light'), 0.56)
);
