@import './config';

a:link,
a:visited {
  color: _config-var($link, 'foreground');
  text-decoration: none;
  transition: color 100ms linear;

  &:hover {
    color: _config-var($link, 'active-foreground');
  }
}
