@mixin button {
  display: inline-flex;
  border: var(--#{$global-prefix}-button-border);
  border-radius: var(--#{$global-prefix}-button-border-radius);
  padding: var(--#{$global-prefix}-button-ypadding)
    var(--#{$global-prefix}-button-xpadding);
  align-items: center;
  justify-content: center;
  color: var(--#{$global-prefix}-button-foreground);
  background: var(--#{$global-prefix}-button-background);
  box-shadow: var(--#{$global-prefix}-button-shadow);
  font-size: var(--#{$global-prefix}-button-font-size);
  font-weight: var(--#{$global-prefix}-button-font-weight);
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;

  &::-moz-focus-inner {
    border: none;
  }

  &:-moz-focusring {
    outline: var(--#{$global-prefix}-outline-style)
      var(--#{$global-prefix}-outline-color);
  }

  &:hover {
    border: var(--#{$global-prefix}-button-hover-border);
    color: var(--#{$global-prefix}-button-hover-foreground);
    background: var(--#{$global-prefix}-button-hover-background);
  }

  &:disabled,
  &[aria-disabled='true'] {
    border: var(--#{$global-prefix}-button-disabled-border);
    opacity: 0.4;
    color: var(--#{$global-prefix}-button-disabled-foreground);
    background: var(--#{$global-prefix}-button-disabled-background);
    box-shadow: none;
    cursor: not-allowed;
  }

  &:not(:disabled):not([aria-disabled='true']):active {
    border: var(--#{$global-prefix}-button-active-border);
    transform: translateY(1px);
    color: var(--#{$global-prefix}-button-active-foreground);
    background: var(--#{$global-prefix}-button-active-background);
  }

  i,
  svg {
    width: 1em;
    height: 1em;
    margin-inline-end: var(--#{$global-prefix}-button-icon-margin);
    color: inherit;
    font-style: normal;
    fill: currentColor;
  }
}

button {
  @include button;
}
