@mixin color-swatch {
  border: _var($color-picker-prefix, 'border');
  border-radius: _var($color-picker-prefix, 'border-radius');
  box-shadow: _var($color-picker-prefix, 'shadow');
}

input[type='color'] {
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  border-radius: _var($color-picker-prefix, 'border-radius');
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;

  &::-moz-focus-inner {
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-moz-color-swatch {
    @include color-swatch;
    transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
  }

  &::-webkit-color-swatch {
    @include color-swatch;
  }

  &:focus::-webkit-color-swatch,
  &:active::-webkit-color-swatch {
    box-shadow: inset 0 0 0 2px _var($outline-prefix, 'color');
  }
}
