$document-prefix: 'document';
$document-props: (
  foreground: var(--color-dark),
  background: var(--color-light),
  root-font-size: 100%,
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.65
);

$outline-prefix: 'outline';
$outline-props: (
  color: var(--color-accent),
  style: 2px solid
);

$selection-prefix: 'selection';
$selection-props: (
  background: var(--color-accent),
  foreground: var(--color-light)
);

$scroll-prefix: 'scroll';
$scroll-props: (
  padding: 100px,
  behavior: smooth
);

$link-prefix: 'link';
$link-props: (
  foreground: var(--color-accent),
  active-foreground: hsl(221, 97%, 42%)
);

$button-prefix: 'button';
$button-props: (
  border: 0,
  border-radius: 4px,
  xpadding: 2em,
  ypadding: 1em,
  foreground: var(--color-white),
  background: var(--color-accent),
  shadow: 0 1px 2px rgba(0, 0, 0, 0.16),
  font-size: inherit,
  font-weight: 700,
  hover-border: 0,
  hover-foreground: var(--color-white),
  hover-background: hsl(221, 97%, 42%),
  disabled-border: 0,
  disabled-foreground: hsl(208, 28%, 56%),
  disabled-background: var(--color-gray),
  active-border: 0,
  active-foreground: var(--color-white),
  active-background: hsl(221, 97%, 32%),
  icon-margin: 0.8em
);

$heading-prefix: 'heading';
$heading-props: (
  font-family: unquote('giotramu-sans, inherit'),
  font-weight: 700,
  line-height: 1.15
);

$blockquote-prefix: 'blockquote';
$blockquote-props: (
  font-size: 2rem
);

$cite-prefix: 'cite';
$cite-props: (
  foreground: var(--color-accent),
  font-size: 1rem,
  start-sign: '—'
);

$del-prefix: 'del';
$del-props: (
  foreground: hsl(337, 74%, 31%),
  background: hsl(0, 100%, 94%)
);

$ins-prefix: 'ins';
$ins-props: (
  foreground: hsl(161, 98%, 18%),
  background: hsl(138, 100%, 88%)
);

$kbd-prefix: 'kdb';
$kbd-props: (
  border-radius: 4px,
  border-color: hsl(208, 28%, 96%)
);

$mark-prefix: 'mark';
$mark-props: (
  foreground: var(--color-white),
  background: var(--color-accent)
);

$code-prefix: 'code';
$code-props: (
  border-radius: 2px,
  background: hsl(208, 28%, 96%)
);

$hr-prefix: 'hr';
$hr-props: (
  height: 2px,
  margin: 48px,
  background: var(--color-gray)
);

$small-prefix: 'small';
$small-props: (
  font-size: 0.8rem
);

$form-prefix: 'form';
$form-props: (
  legend-margin: 0 0 0.4rem,
  legend-weight: 600
);

$checkradio-prefix: 'checkradio';
$checkradio-props: (
  size: 18px,
  border: var(--color-gray),
  border-radius: 4px,
  color: var(--color-accent),
  background: var(--color-gray),
  shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
  tick-color: var(--color-white)
);

$field-prefix: 'field';
$field-props: (
  width: 100%,
  min-height: 48px,
  xpadding: 1em,
  ypadding: 0.4em,
  resize: vertical,
  border: 1px solid var(--color-gray),
  border-radius: 4px,
  foreground: var(--color-dark),
  background: var(--color-white),
  selection-foreground: var(--color-dark),
  selection-background: var(--color-gray),
  placeholder-foreground: var(--color-gray),
  hover-border: 1px solid var(--color-gray),
  hover-foreground: var(--color-black),
  hover-background: var(--color-white),
  hover-placeholder-foreground: hsl(208, 28%, 56%),
  focus-border: 1px solid var(--color-gray),
  focus-foreground: var(--color-dark),
  focus-background: var(--color-white),
  focus-placeholder-foreground: hsl(208, 28%, 56%),
  disable-border: 1px solid var(--color-gray),
  disable-foreground: hsl(208, 28%, 36%),
  disable-background: var(--color-gray),
  disable-placeholder-foreground: hsl(208, 28%, 56%),
  readonly-border: 1px dashed var(--color-gray),
  readonly-focus-border: 1px dashed var(--color-accent),
  readonly-foreground: var(--color-dark),
  invalid-border-color: hsl(354, 100%, 65%),
  invalid-background: var(--color-white),
  invalid-foreground: var(--color-dark)
);

$select-prefix: 'select';
$select-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" stroke-miterlimit="10" d="M7 8l5-5 5 5m0 8l-5 5-5-5"/></svg>');
$select-props: (
  width: 100%,
  border: 1px solid var(--color-gray),
  border-radius: 4px,
  padding: 0.4em,
  foreground: var(--color-dark),
  background: var(--color-white),
  shadow: 0 1px 2px rgba(0, 0, 0, 0.08),
  hover-border: 1px solid var(--color-gray),
  hover-foreground: var(--color-dark),
  hover-background: var(--color-white),
  focus-border: 1px solid var(--color-accent),
  focus-foreground: var(--color-dark),
  focus-background: var(--color-white),
  disabled-border: 1px solid var(--color-gray),
  disabled-foreground: hsl(208, 28%, 36%),
  disabled-background: var(--color-gray),
  icon-size: 1rem,
  icon: $select-icon,
  option-checked-foreground: var(--color-white),
  option-checked-background: var(--color-accent)
);

$range-prefix: 'range';
$range-props: (
  width: 100%,
  height: 4px,
  border-radius: 10px,
  background: hsl(208, 28%, 96%),
  focus-background: hsl(208, 28%, 90%),
  border: 1px hsl(208, 28%, 96%),
  thumb-width: 28px,
  thumb-height: 32px,
  thumb-radius: 4px,
  thumb-sripes-color: var(--color-white),
  thumb-sripes-active-color: var(--color-white),
  thumb-background: var(--color-accent),
  thumb-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16),
  thumb-active-background: var(--color-accent),
  thumb-disabled-background: var(--color-gray),
  disabled-border-color: 1px rgba(0, 0, 0, 0),
  disabled-background: hsl(208, 28%, 96%)
);

$progress-prefix: 'progress';
$progress-props: (
  background: hsl(208, 28%, 96%),
  filled-color: var(--color-accent),
  height: 8px,
  border: hsl(208, 28%, 96%),
  border-radius: 10px
);

$meter-prefix: 'meter';
$meter-props: (
  width: 32px,
  height: 4px,
  border-radius: 4px,
  background: hsl(208, 28%, 96%),
  border-color: hsl(208, 28%, 96%),
  filled-color-strong: hsl(67, 78%, 52%),
  filled-color-good: hsl(41, 100%, 60%),
  filled-color-weak: hsl(354, 100%, 65%)
);

$table-prefix: 'table';
$table-props: (
  cells-xpadding: 16px,
  cells-ypadding: 16px,
  head-separator: 2px solid var(--color-gray),
  row-separator: 1px solid var(--color-gray),
  background: transparent,
  striped-background: transparent
);

$details-prefix: 'details';
$details-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="currentColor" d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z"/></svg>');
$details-props: (
  max-height: 280px,
  border-radius: 4px,
  background: var(--color-white),
  shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
  separator: 1px solid rgba(0, 0, 0, 0.04),
  summary-padding: 16px,
  summary-background: var(--color-white),
  summary-font-size: initial,
  summary-font-weight: 400,
  summary-open-color: var(--color-accent),
  icon-size: 0.6rem,
  icon: $details-icon
);

$color-picker-prefix: 'color-picker';
$color-picker-props: (
  border: 0,
  border-radius: 100%,
  shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
);

$dialog-prefix: 'dialog';
$dialog-props: (
  border: 0,
  shadow:
    unquote(
      '0 19px 38px 0 rgba(0, 0, 0, 0.16), 0 15px 12px 0 rgba(0, 0, 0, 0.12)'
    ),
  background: var(--color-white),
  border-radius: 4px,
  ypadding: 2rem,
  xpadding: 2rem,
  max-width: 40rem,
  backdrop: rgba(0, 0, 0, 0.3),
  backdrop-filter: blur(10px)
);

$elements-config: (
  $document-prefix: $document-props,
  $scroll-prefix: $scroll-props,
  $outline-prefix: $outline-props,
  $selection-prefix: $selection-props,
  $link-prefix: $link-props,
  $button-prefix: $button-props,
  $heading-prefix: $heading-props,
  $blockquote-prefix: $blockquote-props,
  $cite-prefix: $cite-props,
  $code-prefix: $code-props,
  $del-prefix: $del-props,
  $ins-prefix: $ins-props,
  $kbd-prefix: $kbd-props,
  $mark-prefix: $mark-props,
  $small-prefix: $small-props,
  $hr-prefix: $hr-props,
  $form-prefix: $form-props,
  $checkradio-prefix: $checkradio-props,
  $field-prefix: $field-props,
  $select-prefix: $select-props,
  $range-prefix: $range-props,
  $progress-prefix: $progress-props,
  $meter-prefix: $meter-props,
  $table-prefix: $table-props,
  $details-prefix: $details-props,
  $color-picker-prefix: $color-picker-props,
  $dialog-prefix: $dialog-props
);
