@mixin field {
  min-height: var(--#{$global-prefix}-field-min-height);
  border: var(--#{$global-prefix}-field-border);
  border-radius: var(--#{$global-prefix}-field-border-radius);
  color: var(--#{$global-prefix}-field-foreground);
  background: var(--#{$global-prefix}-field-background);
  font-weight: 600;
  letter-spacing: 0.04rem;
  appearance: none;
  transition: color 0.1s ease-out, box-shadow 0.2s ease-out;

  &::selection {
    color: var(--#{$global-prefix}-field-selection-foreground);
    background-color: var(--#{$global-prefix}-field-selection-background);
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: var(--#{$global-prefix}-field-placeholder-foreground);
    font-weight: normal;
  }

  &:hover {
    border: var(--#{$global-prefix}-field-hover-border);
    color: var(--#{$global-prefix}-field-hover-foreground);
    background: var(--#{$global-prefix}-field-hover-background);

    &::placeholder {
      color: var(--#{$global-prefix}-field-hover-placeholder-foreground);
    }
  }

  &:focus {
    border: var(--#{$global-prefix}-field-focus-border);
    color: var(--#{$global-prefix}-field-focus-foreground);
    background: var(--#{$global-prefix}-field-focus-background);

    &::placeholder {
      color: var(--#{$global-prefix}-field-focus-placeholder-foreground);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    border: var(--#{$global-prefix}-field-disabled-border);
    color: var(--#{$global-prefix}-field-disabled-foreground);
    background: var(--#{$global-prefix}-field-disabled-background);
    cursor: not-allowed;

    &::placeholder {
      color: var(--#{$global-prefix}-field-disabled-placeholder-foreground);
    }
  }

  &[readonly] {
    border: var(--#{$global-prefix}-field-readonly-border);
    color: var(--#{$global-prefix}-field-readonly-foreground);
    background: var(--#{$global-prefix}-field-background);
    cursor: default;

    &:focus {
      border: var(--#{$global-prefix}-field-readonly-focus-border);
    }

    &::placeholder {
      color: var(--#{$global-prefix}-field-disabled-placeholder-foreground);
    }
  }

  &:required {
    &:invalid {
      border-color: var(--#{$global-prefix}-field-invalid-border-color);
      color: var(--#{$global-prefix}-field-invalid-foreground);
      background: var(--#{$global-prefix}-field-invalid-background);
    }

    &:invalid:focus {
      outline-color: var(--#{$global-prefix}-field-invalid-border-color);
    }
  }
}

input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='color']):not([type='file']) {
  @include field;
  display: block;
  width: var(--#{$global-prefix}-field-width);
  padding: var(--#{$global-prefix}-field-ypadding)
    var(--#{$global-prefix}-field-xpadding);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  display: none;
}

input[type='search'] {
  outline-offset: -2px;
  appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}

textarea {
  @include field;
  width: var(--#{$global-prefix}-field-width);
  height: auto;
  padding: var(--#{$global-prefix}-field-ypadding)
    var(--#{$global-prefix}-field-xpadding);
  resize: var(--#{$global-prefix}-field-resize);

  &::-webkit-datetime-edit-text {
    opacity: 0.3;
  }

  &::-webkit-calendar-picker-indicator {
    color: var(--#{$global-prefix}-field-foreground);
  }

  &::-webkit-calendar-picker-indicator:hover {
    background-color: transparent;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }
}
