@mixin field {
  min-height: _var($field-prefix, 'min-height');
  border: _var($field-prefix, 'border');
  border-radius: _var($field-prefix, 'border-radius');
  color: _var($field-prefix, 'foreground');
  background: _var($field-prefix, 'background');
  font-weight: 600;
  letter-spacing: 0.04rem;
  appearance: none;
  transition: color 0.1s ease-out, box-shadow 0.2s ease-out;

  &::selection {
    color: _var($field-prefix, 'selection-foreground');
    background-color: _var($field-prefix, 'selection-background');
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: _var($field-prefix, 'placeholder-foreground');
    font-weight: 400;
  }

  &:hover {
    border: _var($field-prefix, 'hover-border');
    color: _var($field-prefix, 'hover-foreground');
    background: _var($field-prefix, 'hover-background');

    &::placeholder {
      color: _var($field-prefix, 'hover-placeholder-foreground');
    }
  }

  &:focus {
    border: _var($field-prefix, 'focus-border');
    color: _var($field-prefix, 'focus-foreground');
    background: _var($field-prefix, 'focus-background');

    &::placeholder {
      color: _var($field-prefix, 'focus-placeholder-foreground');
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    border: _var($field-prefix, 'disabled-border');
    color: _var($field-prefix, 'disabled-foreground');
    background: _var($field-prefix, 'disabled-background');
    cursor: not-allowed;

    &::placeholder {
      color: _var($field-prefix, 'disabled-placeholder-foreground');
    }
  }

  &[readonly] {
    border: _var($field-prefix, 'readonly-border');
    color: _var($field-prefix, 'readonly-foreground');
    background: _var($field-prefix, 'background');
    cursor: default;

    &:focus {
      border: _var($field-prefix, 'readonly-focus-border');
    }

    &::placeholder {
      color: _var($field-prefix, 'disabled-placeholder-foreground');
    }
  }

  &:required {
    &:invalid {
      border-color: _var($field-prefix, 'invalid-border-color');
      color: _var($field-prefix, 'invalid-foreground');
      background: _var($field-prefix, 'invalid-background');
    }

    &:invalid:focus {
      outline-color: _var($field-prefix, 'invalid-border-color');
    }
  }
}

input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='color']):not([type='file']) {
  @include field;
  display: block;
  width: _var($field-prefix, 'width');
  padding: _var($field-prefix, 'ypadding') _var($field-prefix, 'xpadding');
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  display: none;
}

input[type='search'] {
  outline-offset: -2px;
  appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}

textarea {
  @include field;
  width: _var($field-prefix, 'width');
  height: auto;
  padding: _var($field-prefix, 'ypadding') _var($field-prefix, 'xpadding');
  resize: _var($field-prefix, 'resize');

  &::-webkit-datetime-edit-text {
    opacity: 0.3;
  }

  &::-webkit-calendar-picker-indicator {
    color: _var($field-prefix, 'foreground');
  }

  &::-webkit-calendar-picker-indicator:hover {
    background-color: transparent;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }
}
