/**
 * 1.250 - Major Third Scale
 * https://type-scale.com/
 */
$heading-scale: 1.25;
$heading-font-size: _var($document-prefix, 'font-size');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.05rem;
  font-family: _var($heading-prefix, 'font-family');
  font-weight: _var($heading-prefix, 'font-weight');
  line-height: _var($heading-prefix, 'line-height');
}

h1 {
  font-size: unquote('calc(#{$heading-font-size} * #{pow($heading-scale, 5)})');
}

h2 {
  font-size: unquote('calc(#{$heading-font-size} * #{pow($heading-scale, 4)})');
}

h3 {
  font-size: unquote('calc(#{$heading-font-size} * #{pow($heading-scale, 3)})');
}

h4 {
  font-size: unquote('calc(#{$heading-font-size} * #{pow($heading-scale, 2)})');
}

h5 {
  font-size: unquote('calc(#{$heading-font-size} * #{pow($heading-scale, 1)})');
}

h6 {
  font-size: $heading-font-size;
}
