hr {
  display: block;
  width: 100%;
  height: var(--#{$global-prefix}-hr-height);
  margin-top: var(--#{$global-prefix}-hr-margin);
  margin-bottom: var(--#{$global-prefix}-hr-margin);
  border: none;
  background-color: var(--#{$global-prefix}-hr-background);
}
