%meter-progress {
  overflow: hidden;
  border-radius: _var($meter-prefix, 'border-radius');
  background: _var($meter-prefix, 'background');
  box-shadow: inset 0 0 0 1px _var($meter-prefix, 'border-color');
}

%meter-strong {
  background: _var($meter-prefix, 'filled-color-strong');
}

%meter-good {
  background: _var($meter-prefix, 'filled-color-good');
}

%meter-weak {
  background: _var($meter-prefix, 'filled-color-weak');
}

meter {
  @extend %meter-progress;
  width: _var($meter-prefix, 'width');
  height: _var($meter-prefix, 'height');
  vertical-align: middle;

  &::-webkit-meter-bar {
    @extend %meter-progress;
  }

  /* Low value */
  &::-webkit-meter-even-less-good-value {
    @extend %meter-weak;
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    @extend %meter-weak;
  }

  /* Mid value */
  &::-webkit-meter-suboptimum-value {
    @extend %meter-good;
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    @extend %meter-good;
  }

  /* Top value */
  &::-webkit-meter-optimum-value {
    @extend %meter-strong;
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    @extend %meter-strong;
  }
}
