@mixin track {
  width: 100%;
  height: var(--#{$global-prefix}-range-height);
  border-radius: var(--#{$global-prefix}-range-border-radius);
  background: var(--#{$global-prefix}-range-background);
  box-shadow: inset 0 0 0 var(--#{$global-prefix}-range-border);
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

@mixin disabled-track {
  background-color: var(--#{$global-prefix}-range-disabled-background);
  box-shadow: inset 0 0 0 var(--#{$global-prefix}-range-disabled-border-color);
  cursor: not-allowed;
}

@mixin thumb {
  width: var(--#{$global-prefix}-range-thumb-width);
  height: var(--#{$global-prefix}-range-thumb-height);
  border-color: transparent;
  border-radius: var(--#{$global-prefix}-range-thumb-radius);
  background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 2px,
      var(--#{$global-prefix}-range-thumb-sripes-color) 2px,
      var(--#{$global-prefix}-range-thumb-sripes-color) 3px
    ),
    var(--#{$global-prefix}-range-thumb-background);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 54%;
  box-shadow: var(--#{$global-prefix}-range-thumb-shadow);
  transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out;
  appearance: none;

  &:hover {
    cursor: grab;
  }

  &:active,
  &:focus {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 2px,
        var(--#{$global-prefix}-range-thumb-sripes-active-color) 2px,
        var(--#{$global-prefix}-range-thumb-sripes-active-color) 3px
      ),
      var(--#{$global-prefix}-range-thumb-active-background);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 54%;
    cursor: grabbing;
  }
}

@mixin disabled-thumb {
  background-color: var(--#{$global-prefix}-range-thumb-disabled-background);
  background-image: none;
  cursor: not-allowed;
}

@mixin focus-thumb {
  background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 2px,
      var(--#{$global-prefix}-range-thumb-sripes-active-color) 2px,
      var(--#{$global-prefix}-range-thumb-sripes-active-color) 3px
    ),
    var(--#{$global-prefix}-range-thumb-active-background);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 54%;
  outline: var(--#{$global-prefix}-outline-style)
    var(--#{$global-prefix}-outline-color);
}

input[type='range'] {
  width: var(--#{$global-prefix}-range-width);
  margin: calc(var(--#{$global-prefix}-range-thumb-height) / 2) 0;
  background: transparent;
  outline: 0;
  appearance: none;

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-track {
    @include track;
  }

  &::-ms-track {
    @include track;
    border-width: var(--#{$global-prefix}-range-thumb-height);
    border-color: transparent;
    color: transparent;
    background-color: transparent;
  }

  &::-moz-focus-outer {
    border: none;
  }

  &::-ms-fill-upper {
    background: var(--#{$global-prefix}-range-background);
  }

  &::-ms-fill-lower {
    background: var(--#{$global-prefix}-range-background);
  }

  &:active::-webkit-slider-runnable-track,
  &:focus::-webkit-slider-runnable-track {
    background: var(--#{$global-prefix}-range-focus-background);
  }

  &:active::-moz-range-track,
  &:focus::-moz-range-track {
    background: var(--#{$global-prefix}-range-focus-background);
  }

  &:active::-ms-fill-lower,
  &:focus::-ms-fill-lower {
    background: var(--#{$global-prefix}-range-focus-background);
  }

  &:active::-ms-fill-upper,
  &:focus::-ms-fill-upper {
    background: var(--#{$global-prefix}-range-focus-background);
  }

  &::-webkit-slider-thumb {
    @include thumb;
    margin-top: calc(
      0.5 *
        calc(
          var(--#{$global-prefix}-range-height) -
            var(--#{$global-prefix}-range-thumb-height)
        )
    );
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
  }

  &:active::-webkit-slider-thumb {
    background-color: var(--#{$global-prefix}-range-thumb-active-background);
  }

  &:active::-moz-range-thumb {
    background-color: var(--#{$global-prefix}-range-thumb-active-background);
  }

  &:active::-ms-thumb {
    background-color: var(--#{$global-prefix}-range-thumb-active-background);
  }

  &:not(:active):focus::-webkit-slider-thumb {
    @include focus-thumb;
  }

  &:not(:active):focus::-moz-range-thumb {
    @include focus-thumb;
  }

  &:not(:active):focus::-ms-thumb {
    @include focus-thumb;
  }

  &:disabled,
  &[aria-disabled='true'] {
    &::-webkit-slider-runnable-track {
      @include disabled-track;
    }

    &::-moz-range-track {
      @include disabled-track;
    }

    &::-ms-track {
      @include disabled-track;
    }

    &::-webkit-slider-thumb {
      @include disabled-thumb;
    }

    &::-moz-range-thumb {
      @include disabled-thumb;
    }

    &::-ms-thumb {
      @include disabled-thumb;
    }
  }
}
