$select-icon-size: _var($select-prefix, 'icon-size');
$select-padding: _var($select-prefix, 'padding');

select {
  display: block;
  overflow: hidden;
  width: _var($select-prefix, 'width');
  margin: 0;
  border: _var($select-prefix, 'border');
  border-radius: _var($select-prefix, 'border-radius');
  padding: $select-padding;
  padding-right: unquote(
    'calc((#{$select-padding} * 2) + #{$select-icon-size}))'
  );
  color: _var($select-prefix, 'foreground');
  background: _var($select-prefix, 'background');
  box-shadow: _var($select-prefix, 'shadow');
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  text-overflow: ellipsis;
  line-height: inherit;
  letter-spacing: 0.5px;
  transition: color 0.1s ease-out, box-shadow 0.1s ease-out;
  appearance: none;

  &:hover {
    border: _var($select-prefix, 'hover-border');
    color: _var($select-prefix, 'hover-foreground');
    background: _var($select-prefix, 'hover-background');
  }

  &:focus {
    border: _var($select-prefix, 'focus-border');
    color: _var($select-prefix, 'focus-foreground');
    background: _var($select-prefix, 'focus-background');
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 _var($select-prefix, 'focus-foreground');
    transition: none;

    * {
      color: _var($select-prefix, 'focus-foreground');
      text-shadow: none;
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    border: _var($select-prefix, 'disabled-border');
    opacity: 0.4;
    color: _var($select-prefix, 'disabled-foreground');
    background: _var($select-prefix, 'disabled-background');
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not([multiple]) {
    background-image: _var($select-prefix, 'icon');
    background-repeat: no-repeat;
    background-position: right $select-padding center;
    background-size: $select-icon-size;
  }

  &[multiple] {
    height: auto;
    padding: $select-padding;
    padding-left: unquote('calc(#{$select-padding} / 16)');

    @supports (padding-left: var(safe-area-inset-left)) {
      padding: $select-padding;
    }

    option {
      padding: 0.5rem;

      &:checked {
        color: _var($select-prefix, 'option-checked-foreground');
        background: linear-gradient(
          to bottom,
          _var($select-prefix, 'option-checked-background') 0%,
          _var($select-prefix, 'option-checked-background') 100%
        );
        background-color: _var($select-prefix, 'option-checked-background');
      }
    }
  }

  optgroup {
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
