table {
  width: 100%;
  border-collapse: collapse;
  background-color: _var($table-prefix, 'background');
}

thead {
  border-bottom: _var($table-prefix, 'head-separator');
  text-align: left;
}

td,
th {
  padding: _var($table-prefix, 'cells-ypadding')
    _var($table-prefix, 'cells-xpadding');
}

tr + tr {
  border-top: _var($table-prefix, 'row-separator');
}

tr:nth-child(even) {
  background-color: _var($table-prefix, 'striped-background');
}
