$document-line-height: _var($document-prefix, 'line-height');

address {
  font-style: normal;
  line-height: inherit;
}

blockquote {
  margin: 2.5em 0;
  padding: 0;
  font-size: _var($blockquote-prefix, 'font-size');
  line-height: unquote('calc(#{$document-line-height} / 1.2)');
  letter-spacing: 0.03em;

  > * {
    font-size: inherit;
  }

  cite {
    display: block;
    margin-top: _var($cite-prefix, 'font-size');
    color: _var($cite-prefix, 'foreground');
    font-size: _var($cite-prefix, 'font-size');

    &::before {
      content: _var($cite-prefix, 'start-sign');
      margin-right: 4px;
    }
  }
}

del {
  padding: 2px 4px;
  color: _var($del-prefix, 'foreground');
  background-color: _var($del-prefix, 'background');
  box-shadow: 0 0 0 2px _var($del-prefix, 'background');
}

ins {
  padding: 2px 4px;
  color: _var($ins-prefix, 'foreground');
  background-color: _var($ins-prefix, 'background');
  box-shadow: 0 0 0 2px _var($ins-prefix, 'background');
  text-decoration: none;
}

kbd {
  border: 1px solid _var($kdb-prefix, 'border-color');
  border-radius: _var($kdb-prefix, 'border-radius');
  padding: 2px 4px;
  box-shadow: 0 3px 0 _var($kdb-prefix, 'border-color'),
    0 3px 10px rgba(0, 0, 0, 0.04);
}

mark {
  color: _var($mark-prefix, 'foreground');
  background: _var($mark-prefix, 'background');
  box-shadow: 0 0 0 2px _var($mark-prefix, 'background');
}

p {
  margin-bottom: 1.15rem;

  code {
    display: inline-block;
    margin: 2px 0;
    border-radius: _var($code-prefix, 'border-radius');
    padding: 0 4px;
    background-color: _var($code-prefix, 'background');
  }
}

small {
  font-size: _var($small-prefix, 'font-size');
}
