// Positive integer exponent.
@function pow($number, $exponent) {
  $result: 1;

  @if $exponent > 0 {
    @for $_ from 1 through $exponent {
      $result: $result * $number;
    }
  }

  @return $result;
}

// Slightly lighten a color
@function _tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Slightly darken a color
@function _shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Return a CSS Custom Property definition (e.g. --ck-button-font-size).
@function _defineVar($element, $prop, $scope: true) {
  @if $scope == true {
    @return unquote('--#{$domain}-#{$element}-#{$prop}');
  }

  @return unquote('--#{$element}-#{$prop}');
}

// Return a CSS Custom Property (e.g. var(--ck-button-font-size)).
@function _var($element, $prop) {
  @return var(_defineVar($element, $prop));
}

@function _color($type) {
  @if map-has-key($colors, $type) {
    @return map-get($colors, $type);
  }

  @warn 'Unknown `#{$type}` in $colors map.';
  @return null;
}

@function _radial-gradient(
  $color: _color(accent),
  $percentage: 16%,
  $direction: 'bottom center',
  $shape: 'ellipse'
) {
  @return radial-gradient(
    unquote('#{$shape} farthest-corner at #{$direction}'),
    _tint($color, $percentage) 0%,
    $color 72%,
    _shade($color, $percentage / 2)
  );
}

@function _linear-gradient(
  $color: _color(accent),
  $percentage: 8%,
  $direction: 225deg
) {
  @return linear-gradient(
    $direction,
    $color,
    _tint($color, $percentage),
    $color
  );
}

@function _shadow($type: bottom, $size: 8, $color: _color(accent)) {
  $w: unquote('#{$size}px');

  /* prettier-ignore */
  $shadows: (
    /*  CSS Spec:  | style | offset-x | offset-y | blur-radius | spread-radius | color */
    top          :            0          (-$w)       $w            (-$w)       $color,
    right        :            $w         0           $w            (-$w)       $color,
    bottom       :            0          $w          $w            (-$w)       $color,
    left         :            (-$w)      0           $w            (-$w)       $color,
    all          :            0          0           $w                        $color,
    inset-top    : inset      0          $w          $w            (-$w)       $color,
    inset-right  : inset      (-$w)      0           $w            (-$w)       $color,
    inset-bottom : inset      0          (-$w)       $w            (-$w)       $color,
    inset-left   : inset      $w         0           $w            (-$w)       $color,
    inset-all    : inset      0          0           $w                        $color,

    /* You may also combine and comma separate any shadows from above */
    left-right       : (       (-$w) 0     $w (-$w) $color,       $w    0     $w (-$w) $color),
    top-bottom       : (       0     (-$w) $w (-$w) $color,       0     $w    $w (-$w) $color),
    inset-left-right : (inset  $w    0     $w (-$w) $color, inset (-$w) 0     $w (-$w) $color),
    inset-top-bottom : (inset  0     $w    $w (-$w) $color, inset 0     (-$w) $w (-$w) $color),
  );

  @if map-has-key($shadows, $type) {
    @return map-get($shadows, $type);
  }

  @warn 'Unknown `#{$type}` in $shadows map.';
  @return null;
}

@function _field-shadow($hex) {
  $inner: _shadow('inset-top', $size: 12, $color: $hex),
    _shadow('inset-left-right', $size: 8, $color: $hex);

  $outer: _shadow('top', $size: 8, $color: $hex),
    _shadow('bottom', $size: 16, $color: $hex);

  @return $inner, $outer;
}
