// Positive integer exponent.
@function pow($number, $exponent) {
  $result: 1;

  @if $exponent > 0 {
    @for $_ from 1 through $exponent {
      $result: $result * $number;
    }
  }

  @return $result;
}

// Return a CSS Custom Property definition (e.g. --ck-button-font-size).
@function _defineVar($element, $prop, $scope: true) {
  @if $scope == true {
    @return unquote('--#{$domain}-#{$element}-#{$prop}');
  }

  @return unquote('--#{$element}-#{$prop}');
}

// Return a CSS Custom Property (e.g. var(--ck-button-font-size)).
@function _var($element, $prop) {
  @return var(_defineVar($element, $prop));
}

@function morph($shape, $prop) {
  @return map-get(map-get($neumorphism, $shape), $prop);
}
