$properties: (
  size: 1.125rem,
  padding: calc(0.375 * 0.8rem),
  before: svg-load('assets/power.svg'),
  before-color: _color('base-high'),
  after: svg-load('assets/power.svg'),
  after-color: _color('base-high')
);

$dark-overrides: (
  before-color: _color('light-low'),
  after-color: _color('light-low')
);
