$dialog-props: (
  max-width: 40rem,
  ypadding: 2rem,
  xpadding: 2rem,
  border: 0,
  border-radius: $border-radius,
  background: _color('light'),
  shadow:
    unquote(
      '0 19px 38px 0 rgba(0, 0, 0, 0.16), 0 15px 12px 0 rgba(0, 0, 0, 0.12)'
    ),
  backdrop: rgba(0, 0, 0, 0.3),
  backdrop-filter: blur(10px)
);
