$select-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" stroke-miterlimit="10" d="M7 8l5-5 5 5m0 8l-5 5-5-5"/></svg>');

$select-props: (
  width: 100%,
  min-height: 48px,
  ypadding: 0.5em,
  xpadding: 1em,
  border: 1px solid _shade(_color('light'), 8%),
  border-radius: $border-radius,
  hover-border-color: _shade(_color('light'), 16%),
  focus-border-color: _color('accent'),
  disabled-border-color: _shade(_color('light'), 8%),
  foreground: _color(base),
  hover-foreground: _color('base'),
  focus-foreground: _color('base'),
  disabled-foreground: _tint(_color('base'), 40%),
  background: $white,
  hover-background: $white,
  focus-background: $white,
  disabled-background: _shade(_color('light'), 4%),
  shadow: none,
  hover-shadow: none,
  focus-shadow: _field-shadow(rgba(_color('accent'), 0.15)),
  icon-size: 1rem,
  icon: $select-icon,
  option-checked-foreground: $white,
  option-checked-background: _color('accent')
);
