$select: 'select';

$select-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" stroke-miterlimit="10" d="M7 8l5-5 5 5m0 8l-5 5-5-5"/></svg>');

$select-props: (
  width: 100%,
  min-height: 48px,
  border: 2px solid _shade(_color('light'), 4%),
  border-radius: 8px,
  xpadding: 1em,
  ypadding: 0.5em,
  foreground: _color(base),
  background: #fff,
  shadow: none,
  hover-border-color: _shade(_color('light'), 8%),
  hover-foreground: _color('base'),
  hover-background: #fff,
  hover-shadow: none,
  focus-border-color: _color('accent'),
  focus-foreground: _color('base'),
  focus-background: #fff,
  focus-shadow: _field-shadow(rgba(_color('accent'), 0.15)),
  disabled-border-color: _shade(_color('light'), 8%),
  disabled-foreground: _tint(_color('base'), 40%),
  disabled-background: _shade(_color('light'), 4%),
  icon-size: 1rem,
  icon: $select-icon,
  option-checked-foreground: #fff,
  option-checked-background: _color('accent')
);
