$details: 'details';

$details-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="currentColor" d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z"/></svg>');

$details-icon-size: _var($details, 'icon-size');

$details-props: (
  max-height: 280px,
  border-radius: 4px,
  background: var(--color-white),
  shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
  separator: 1px solid rgba(0, 0, 0, 0.04),
  summary-padding: 16px,
  summary-background: var(--color-white),
  summary-font-size: initial,
  summary-font-weight: 400,
  summary-open-color: var(--color-accent),
  icon-size: 0.6rem,
  icon: $details-icon
);
