$details-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="currentColor" d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z"/></svg>');

$shadow: _shadow('top', $size: 8, $color: $white),
  _shadow('left', $size: 8, $color: $white),
  _shadow('all', $size: 4, $color: _shade(_color('light'), 16%)),
  _shadow('bottom', $size: 16, $color: _shade(_color('light'), 16%));

$details-props: (
  max-height: 280px,
  border-radius: $border-radius,
  background: _color('light'),
  shadow: $shadow,
  summary-padding: 16px,
  summary-font-size: initial,
  summary-font-weight: 500,
  summary-open-color: _color('accent'),
  summary-background: _color('light'),
  separator: none,
  icon-size: 0.6rem,
  icon: $details-icon
);
