main {
  max-width: 54rem;
  min-width: 32rem;
  margin: 4rem auto;
  padding: 0 2rem;
}

section {
  margin-bottom: 4rem;
}

section > h3:first-of-type {
  margin-bottom: 2.4rem;
}

table.striped {
  --ck-table-striped-background: rgba(255, 255, 255, 0.16);
}

section.buttons button:not(:last-of-type) {
  margin-right: 2.4rem;
  margin-bottom: 1.6rem;
}

section.buttons button.rounded {
  --ck-button-border-radius: 25px;
}

section.progress-bars p:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

section.range-inputs input:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
