$properties: (
  root-font-size: 100%,
  font-size: _var('global', 'font-size'),
  font-weight: 400,
  line-height: _var('global', 'line-height'),
  foreground: _color('base-high'),
  background: _color('light-low'),
  outline-width: _var('outline', 'width'),
  outline-color: _var('outline', 'color'),
  scroll-padding: 100px,
  scroll-behavior: smooth,
  selection-foreground: _color('light-low'),
  selection-background: _color('accent-high')
);
