@import './config';

html {
  font-size: _config-var($document, 'root-font-size');
  scroll-behavior: _config-var($document, 'scroll-behavior');
  scroll-padding: _config-var($document, 'scroll-padding');
}

*::selection {
  color: _config-var($document, 'selection-foreground');
  background: _config-var($document, 'selection-background');
}

*:focus {
  outline: _config-var($document, 'outline-width') solid
    _config-var($document, 'outline-color');
}

[tabindex='-1'] {
  outline: none;
}

*,
*::before,
*::after {
  outline-color: _config-var($document, 'outline-color');
}

body {
  color: _config-var($document, 'foreground');
  background-color: _config-var($document, 'background');
  font-size: _config-var($document, 'font-size');
  font-weight: _config-var($document, 'font-weight');
  line-height: _config-var($document, 'line-height');
}
