@mixin field {
  min-height: _config-var($field, 'min-height');
  border: _config-var($field, 'border');
  border-radius: _config-var($field, 'border-radius');
  color: _config-var($field, 'foreground');
  background: _config-var($field, 'background');
  box-shadow: _config-var($field, 'shadow');
  font-weight: 600;
  line-height: inherit;
  letter-spacing: 0.04rem;
  appearance: none;
  transition: color 0.8s ease-out, border-color 0.24s ease-out,
    box-shadow 0.24s ease-out;

  &::selection {
    color: _config-var($field, 'selection-foreground');
    background: _config-var($field, 'selection-background');
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: _config-var($field, 'placeholder-foreground');
    font-weight: 400;
  }

  &:hover {
    border-color: _config-var($field, 'hover-border-color');
    color: _config-var($field, 'foreground');
    background: _config-var($field, 'hover-background');
    box-shadow: _config-var($field, 'hover-shadow');

    &::placeholder {
      color: _config-var($field, 'hover-placeholder-foreground');
    }
  }

  &:focus {
    border-color: _config-var($field, 'focus-border-color');
    color: _config-var($field, 'foreground');
    background: _config-var($field, 'focus-background');
    box-shadow: _config-var($field, 'focus-shadow');

    &::placeholder {
      color: _config-var($field, 'focus-placeholder-foreground');
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: _config-var($field, 'disabled-border-color');
    opacity: 0.5;
    color: _config-var($field, 'disabled-foreground');
    background: _config-var($field, 'disabled-background');
    box-shadow: none;
    cursor: not-allowed;

    &::placeholder {
      color: _config-var($field, 'disabled-placeholder-foreground');
    }
  }

  &[readonly] {
    border-color: _config-var($field, 'disabled-border-color');
    border-style: dashed;
    color: _config-var($field, 'foreground');
    background: _config-var($field, 'disabled-background');
    box-shadow: none;
    cursor: default;

    &:focus {
      border-color: _config-var($field, 'focus-border-color');
    }

    &::placeholder {
      color: _config-var($field, 'disabled-placeholder-foreground');
    }
  }

  &:required {
    &:invalid {
      border-color: _config-var($field, 'invalid-border-color');
      color: _config-var($field, 'invalid-foreground');
      background: _config-var($field, 'invalid-background');
      box-shadow: _config-var($field, 'invalid-shadow');
    }

    &:invalid:focus {
      outline-color: _config-var($field, 'invalid-border-color');
    }
  }
}
