@import './config';
@import './mixins';

input[type='color'] {
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: _config-var($color-picker, 'border-radius');
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;

  &::-moz-focus-inner {
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-moz-color-swatch {
    @include color-swatch;
    transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
  }

  &::-webkit-color-swatch {
    @include color-swatch;
  }

  &:focus::-webkit-color-swatch,
  &:active::-webkit-color-swatch {
    box-shadow: _config-var($color-picker, 'focus-shadow');
  }
}

html[data-color-scheme='dark'] {
  @each $prop, $val in $dark-overrides {
    #{_define-var($color-picker, $prop)}: $val;
  }
}
