html[data-color-scheme=dark] {
  --ck-checkradio-background: #5a5c6a;
  --ck-color-picker-shadow: 0 10px 10px -10px #131b23;
  --ck-details-background: #202d3a;
  --ck-details-summary-background: #202d3a;
  --ck-details-shadow:none;
  --ck-dialog-background: #202d3a;
  --ck-dialog-shadow: 0 24px 24px -24px #131b23;
  --ck-document-foreground: #fafafa;
  --ck-document-background: #202d3a;
  --ck-code-background: #444f5a;
  --ck-hr-background: #4c4d59;
  --ck-icon-switch-before-color: #e1eaee;
  --ck-icon-switch-after-color: #e1eaee;
  --ck-kdb-border-color: #444f5a;
  --ck-progress-border-color: #293542;
  --ck-progress-shadow: inset 0 24px 24px -24px #323e4a, inset 0 -24px 24px -24px #323e4a;
  --ck-table-head-separator: 2px solid #4c4d59;
  --ck-table-row-separator: 1px solid #4c4d59;
  --ck-table-striped-background: #293542;
  --ck-field-border: 1px solid #5a5c6a;
  --ck-field-hover-border-color: #676976;
  --ck-field-focus-border-color: #0072ff;
  --ck-field-disabled-border-color: #4c4d59;
  --ck-field-invalid-border-color: #ff2f6c;
  --ck-field-foreground: #e1eaee;
  --ck-field-disabled-foreground: #8f909a;
  --ck-field-invalid-foreground: #e1eaee;
  --ck-field-placeholder-foreground: #8f909a;
  --ck-field-hover-placeholder-foreground: #8f909a;
  --ck-field-focus-placeholder-foreground: #747682;
  --ck-field-disabled-placeholder-foreground: #747682;
  --ck-field-background: #293542;
  --ck-field-hover-background: #293542;
  --ck-field-focus-background: #323e4a;
  --ck-field-disabled-background: #202d3a;
  --ck-field-invalid-background: #323e4a;
  --ck-range-background: #4c4d59;
  --ck-range-focus-background: #535562;
  --ck-range-disabled-background: #4c4d59;
  --ck-range-shadow: inset 0 8px 8px -8px #5a5c6a, inset 0 -8px 8px -8px #5a5c6a;
  --ck-range-thumb-disabled-background: #5a5c6a;
  --ck-select-border: 1px solid #5a5c6a;
  --ck-select-hover-border-color: #676976;
  --ck-select-focus-border-color: #0072ff;
  --ck-select-disabled-border-color: #4c4d59;
  --ck-select-foreground: #fafafa;
  --ck-select-disabled-foreground: #747682;
  --ck-select-background: #293542;
  --ck-select-hover-background: #293542;
  --ck-select-focus-background: #323e4a;
  --ck-select-disabled-background: #202d3a;
}
html[data-color-scheme=dark] button.muted {
  --ck-button-foreground: #fafafa;
  --ck-button-background:radial-gradient(135% 100% at 50% 100%, #5a5c6a 0%, #202d3a 100%);
  --ck-button-hover-background:radial-gradient(135% 100% at 50% 100%, #585a68 0%, #1f2c39 100%);
  --ck-button-active-background:radial-gradient(135% 100% at 50% 100%, #565866 0%, #1f2b38 100%);
  --ck-button-disabled-background: #5a5c6a;
  --ck-button-shadow: 0 8px 8px -8px #5a5c6a;
  --ck-button-active-shadow: 0 4px 4px -4px #5a5c6a;
}

.icon-switch[data-ck-trigger=set-color-scheme] {
  --ck-icon-switch-before: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg%3E %3Cpath d='M0 11h3v2H0zM2.807115 4.22165l1.4142-1.4142 2.1213 2.1213-1.4142 1.4142zM11 0h2v3h-2zM17.65685 4.928615l2.1213-2.1213 1.4142 1.4142-2.1213 2.1213zM21 11h3v2h-3zM17.657085 19.07125l1.4142-1.4142 2.1213 2.1213-1.4142 1.4142zM11 21h2v3h-2zM2.80725 19.778485l2.1213-2.1213 1.4142 1.4142-2.1213 2.1213z'/%3E %3Ccircle cx='12' cy='12' r='7'/%3E %3C/g%3E %3C/svg%3E");
  --ck-icon-switch-after: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath d='M21.4 13.7c-.8.2-1.6.3-2.4.3-5 0-9-4-9-9 0-.8.1-1.6.3-2.4.1-.3 0-.7-.3-1-.3-.3-.6-.4-1-.3C4.3 2.7 1 7.1 1 12c0 6.1 4.9 11 11 11 4.9 0 9.3-3.3 10.6-8.1.1-.3 0-.7-.3-1-.2-.2-.6-.3-.9-.2z'/%3E %3C/svg%3E");
}

.icon-switch[data-ck-trigger=unset-color-scheme] {
  --ck-icon-switch-before: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg%3E %3Cpath d='M17.848 18.931l1.459 1.367c1.688-1.802 1.856-2.048 2.93-4.262l-1.799-.873c-.983 2.025-1.05 2.123-2.59 3.768zM11.226 21.022l.049 1.999c2.615-.064 3.032-.144 5.458-1.028l-.685-1.879c-2.211.805-2.426.849-4.822.908zM4.881 17.576l-1.429 1.399c1.837 1.875 2.199 2.143 4.556 3.32l.895-1.789c-2.14-1.068-2.343-1.214-4.022-2.93zM3 11H1c0 2.523.054 2.863.81 5.25l1.906-.604C3.024 13.461 3 13.301 3 11z'/%3E %3Cpath d='M6.57 4.833C8.127 3.65 10.011 3 12 3c4.963 0 9 4.037 9 9 0 .207-.017.409-.031.612l1.984.31c.026-.305.047-.611.047-.922 0-6.065-4.935-11-11-11-2.545 0-4.957.862-6.907 2.442L2.333.854l-.646 7.584 7.604-1.062L6.57 4.833z'/%3E %3C/g%3E %3C/svg%3E");
}