[data-whatintent='mouse'] *:focus {
  outline: none;
}

.toggles {
  position: fixed;
  top: auto;
  bottom: 1rem;
  right: 1.6rem;
  left: auto;
  z-index: 99;
}

.toggles > .icon-switch:not(:last-of-type) {
  margin-right: 0.5rem;
}

main {
  max-width: 56rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

section > h3:first-of-type {
  margin-bottom: 2.4rem;
}

section.buttons button:not(:last-of-type) {
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

section.progress-bars p:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

section.range-inputs input:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

dialog > footer {
  display: flex;
  justify-content: flex-end;
}

dialog > footer button:not(:last-of-type) {
  margin-right: 0.8rem;
}
