// Abstract
@import './abstract/custom-properties';
@import './abstract/functions';

/**
 ************
 * Document *
 ************
 */
html {
  font-size: var(--ck-root-font-size);
  scroll-behavior: var(--ck-scroll-behavior);
  scroll-padding: var(--ck-scroll-padding);
}

*::selection {
  color: var(--ck-selection-foreground);
  background: var(--ck-selection-background);
}

*:focus {
  outline: var(--ck-outline-style) var(--ck-outline-color);
}

[tabindex='-1'] {
  outline: none;
}

*,
*::before,
*::after {
  outline-color: var(--ck-outline-color);
}

body {
  color: var(--ck-body-foreground);
  background-color: var(--ck-body-background);
  font-size: var(--ck-body-font-size);
  font-weight: normal;
  line-height: var(--ck-body-line-height);
}

/**
 ***********************
 * Basic HTML Elements *
 ***********************
 */

p {
  margin-bottom: 1.15rem;
}

address {
  font-style: normal;
  line-height: inherit;
}

dd {
  margin: 0;
  padding: 0;
}

ol,
ul {
  padding-left: 1rem;
}

@import './elements/a';
@import './elements/blockquote';
@import './elements/code';
@import './elements/del';
@import './elements/headings';
@import './elements/hr';
@import './elements/ins';
@import './elements/kbd';
@import './elements/mark';
@import './elements/small';

/**
 **************************
 * Advanced HTML Elements *
 **************************
 */
