// Abstracts
@import './abstracts/config';
@import './abstracts/theme';

// Utilities
@import './utils/functions';
@import './utils/normalizer';

// HTML Elements
@import './elements/bundle';

// CSS Custom Properties
:root {
  @each $color, $hex in $colors {
    #{_defineVar('color', $color, $scope: false)}: $hex;
  }

  @each $element, $props in $elements-config {
    @each $prop, $val in $props {
      #{_defineVar($element, $prop)}: $val;
    }
  }
}
