$focus-shadow: _shadow('inset-left-right', $color: rgba(_color('accent'), 0.16)),
  _shadow('bottom', $color: rgba(_color('accent'), 0.16));

$invalid-shadow: _shadow('inset-left-right', $color: rgba(_color('ko'), 0.16)),
  _shadow('bottom', $color: rgba(_color('ko'), 0.16));

$field-props: (
  width: 100%,
  min-height: 48px,
  ypadding: 0.5em,
  xpadding: 1em,
  border-radius: $border-radius,
  border: 2px solid _tint(_color('base'), 80%),
  hover-border-color: _tint(_color('base'), 72%),
  focus-border-color: _color('accent'),
  disabled-border-color: _tint(_color('base'), 72%),
  invalid-border-color: _color('ko'),
  foreground: _color('dark'),
  hover-foreground: _color('dark'),
  focus-foreground: _color('dark'),
  disabled-foreground: _tint(_color('dark'), 64%),
  invalid-foreground: _color('dark'),
  placeholder-foreground: _tint(_color('base'), 16%),
  hover-placeholder-foreground: _tint(_color('base'), 16%),
  focus-placeholder-foreground: _tint(_color('base'), 64%),
  disabled-placeholder-foreground: _tint(_color('base'), 64%),
  background: _tint(_color('light'), 100%),
  hover-background: _tint(_color('light'), 100%),
  focus-background: _tint(_color('light'), 100%),
  disabled-background: _tint(_color('base'), 88%),
  invalid-background: _tint(_color('light'), 100%),
  shadow: none,
  hover-shadow: none,
  focus-shadow: $focus-shadow,
  invalid-shadow: $invalid-shadow,
  selection-foreground: $white,
  selection-background: _color('accent'),
  resize: vertical
);
